.container {
    width: 1263px;
    height: auto;
    background-image: url(/images/wallpaper.png);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

.content {
    width: 639px;
    height: 800px;
    padding-top: 184px;
    margin-left: auto;
    margin-right: auto;
}
.table {
    height: 469px;
    background-color: white;
}
.header {
    height: 26px;
width: 607px;
left: 16px;
top: 21px;
border-radius: nullpx;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px;
letter-spacing: 0.15000000596046448px;
text-align: left;
margin-left: 16px;
margin-top: 21px;

}

.inputs-reg {
    display: flex;
    flex-direction: row;
    margin-top: 47px;
}

.inner-inputs {
    margin-left: 21px;
}

.first-name {
    background: rgba(255, 230, 230, 0.08);
border-radius: 4px 4px 0px 0px;
margin-top: 16px;
}

.icon-uploads {
    width: 198px;
    margin-left: 58px;
    margin-top: 16px;
    
}
.icon-uploads img {
    width: 198px;
    height: 198px;
}

.buttons-register {
    display: flex;
    flex-direction: row;
    margin-top: 95px;
    margin-left: 350px;
}
.add-user {
    width: 108px;
    height: 36px;
    text-align: center;
    background-color: #2196F3;
    border-radius: 10%;
    padding-top: 8px;
}
.cancel {
    width: 108px;
    height: 36px;
    text-align: center;
    background-color: #E3F2FD;
    padding-top: 8px;
    margin-left: 17px;
    border-radius: 10%;
}
.add-user a {
    text-decoration: none;
    color: white;
}
.cancel a{
    text-decoration: none;
    color: #2196F3;
}